@font-face {
  font-family: DancingScript;
  src: url(../fuentes/DancingScript-Regular.ttf);
}
body {
  font-family: DancingScript;
  background-color: black;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #5b7989;
  top: 0;
  width: 100%;
  display: Flex;
  flex-direction: row;
  border-radius: 10px 10px 0 0;
  margin: 0;
}
footer{
  bottom: 0;
  background-color: #C6d5c5;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  border-radius: 0 0 10px 10px;
  margin: 0;
}
div {
 margin: 0;
}
.Nombre {
  text-shadow: 2px 2px 2px #02010a;
  flex-grow: 1;
  margin-left: 2%;
  color: white;
  Font-size: 25px;
}
.Vinculos {
  margin-right: 2%;
  text-align: right;
  flex-grow: 1;
  Font-size: 20px;
  padding-top: 1%;
}
a{
  color: white;
}
.Imagenprincipal {
   background-color: #82c3a6;
   width: 100%;
 }
 .Principal {
   padding: 2% 5%;
 }
.Imagenessecundarias {
  display: flex;
  flex-direction: row;
  background-color: #d5c75f;
  border: 1px;
}
.Imagen2, .Imagen3 {
  width: 50%;
}
.PDP{
  font-size: 25px;
  }
footer [class^="Columna"]{
  flex-grow: 1;
}
