@font-face {
  font-family: DancingScript;
  src: url(../fuentes/DancingScript-Regular.ttf);
}
@media (min-width: 900px) {
  .Contenido{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  font-family: DancingScript;
  background-color: black;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #5b7989;
  top: 0;
  width: 100%;
  display: Flex;
  flex-direction: row;
  border-radius: 10px 10px 0 0;
  margin: 0;
}
footer {
  bottom: 0;
  background-color: #C6d5c5;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  border-radius: 0 0 10px 10px;
  margin: 0;
}
div {
 margin: 0;
}
.Nombre {
  text-shadow: 2px 2px 2px #02010a;
  flex-grow: 1;
  margin-left: 2%;
  color: white;
  Font-size: 25px;
}
.Vinculos {
  margin-right: 2%;
  text-align: right;
  flex-grow: 1;
  Font-size: 20px;
  padding-top: 1%;
}
a{
  color: white;
}
.Fila1, .Fila2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #d5c75f;
  border: 1px;
}
picture [class^="Imagen"] {
  width: 90%;
  margin: 5%;
}
.Imagen11{
  filter: blur(10px);
}
.Imagen12, .Imagen21, .Imagen23{
  filter: grayscale(100%);
}
.Imagen22{
  filter: sepia(90%);
}
.PDP{
  font-size: 25px;
  font-weight: bold;
  }
.redes{
  font-size: 18px;
}
footer [class^="Columna"]{
  width: 25%;
  margin: 0 2%;
}
@media (max-width:900px) {
  header{
    display: Flex;
    flex-direction: column;
    text-align: center;
    font-size: 26px;
  }
  .Vinculos{
    text-align: center;
    margin: 0;
    Font-size: 21px;
    padding: 0;
  }
  .Fila1, .Fila2 {
    display: flex;
    flex-direction: column;
  }
  footer [class^="Columna"]{
    width: 100%;
    margin: 0;
  }
  footer{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
  }
}
